#root,
p,
textarea,
select,
h1,
button,
input,
label {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-gradient {
  background: rgb(65, 96, 199);
  background: linear-gradient(
    135deg,
    rgba(65, 96, 199, 1) 0%,
    rgba(140, 70, 195, 1) 100%
  );
}

.panel-header {
  background: rgb(65, 96, 199);
  background: linear-gradient(
    135deg,
    rgba(65, 96, 199, 1) 0%,
    rgba(120, 60, 196, 1) 100%
  );
}

.truncated-text-sm {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
}

.overlay1 {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.overlay2 {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 105%;
  background: rgba(0, 0, 0, 0.45);
}

.changetask-shadow {
  -webkit-box-shadow: -14px 0px 19px -8px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -14px 0px 19px -8px rgba(0, 0, 0, 0.45);
  box-shadow: -14px 0px 19px -8px rgba(0, 0, 0, 0.45);
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.62);
}

input[type="checkbox"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  padding: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #c7d2fe;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}
